<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>	XD</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
    <!--header-->
        <header class="header">
            <div>
                <ul class="menu-1">
                    <div class="mg-right-logo logo-size"><a href=""><img src="/images/UIXREX.png" alt=""></a></div>
                    <li class="none-li">Home</li>
                    <li class="none-li">About</li>
                    <li class="none-li">Freatures</li>
                    <li class="none-li">Pricing</li>
                    <li class="none-li">Screenshot</li>
                    <li class="none-li">contact</li>
                    <div class="mg-left-logo logo-size"><a href=""><img src="/images/Group 2.png" alt=""> </a></div>
                </ul>
            </div>
        </header>
        <main>
            <section id="slideMain">
                <div class="wrapper">
                    <div class="in-fl">
                        <div id="post">
                            <img src="/images/phone_.png" alt="" >
                        </div>
                        <div id="sidebar">
                            <div>
                                <div class="wh-80 mg-top">
                                    <div>
                                        <div class="logo-size">The Best App to Increase
                                            Your Productivity</div>
                                    </div>
                                    <div>
                                        <p>A mobile app is a computer program designed to run on a 
                                                        mobile device such as a phone/tablet or watch.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="app wh-80 bg-img">
                                <div>
                                    <img src="/images/app-store.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div id="about">
                    <div class="wrapper">
                        <div class="ti-about">
                            <div class="tit">
                                <span>About The App</span>
                            </div>
                            <div class="pad-tit-about">
                                <p>Writers and stars of Veep have responded incredulously to the news an Australian politician
                                    required preinstalled stitches way  email client, calendar, mapping program.</p>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="column">
                                    <div id="suport">
                                       <div class="img-sup">
                                        <img src="../images/support.png" alt="" width="40%">
                                       </div>
                                        <div>
                                            <p>24/7 Suport</p>
                                        </div>
                                        <div>
                                            Apps that are not preinstalled are usually available through distribution platforms called app stores.
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="column">
                                    <div id="suport">
                                       <div class="img-sup">
                                        <img src="../images/support.png" alt="" width="40%">
                                       </div>
                                        <div>
                                            <p>24/7 Suport</p>
                                        </div>
                                        <div>
                                            Apps that are not preinstalled are usually available through distribution platforms called app stores.
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="column">
                                    <div id="suport">
                                       <div class="img-sup">
                                        <img src="../images/support.png" alt="" width="40%">
                                       </div>
                                        <div>
                                            <p>24/7 Suport</p>
                                        </div>
                                        <div>
                                            Apps that are not preinstalled are usually available through distribution platforms called app stores.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
    <!--endheader-->

    <!--main-->
    
    <!--endmain-->

    <!--footer-->
        
    <!--endfooter-->
    
</body>
</html>